/* CSS Document */
*, :before, :after { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; overflow-x: hidden; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template, script { display: none; }

ul, li { margin: 0; padding: 0; list-style: none; }

a { background-color: transparent; color: #fff; }

a:focus { outline: none; }

a:active, a:hover { outline: none; }

a, button, input { -webkit-tap-highlight-color: rgba(255, 0, 0, 0); outline: none; }

input:focus { outline: none; }

ins, a { text-decoration: none; }

abbr[title] { border-bottom: 1px dotted; }

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -.5em; }

sub { bottom: -.25em; }

img { -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: middle; border: 0; }

input[type=text], textarea { -webkit-appearance: none; }

button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }

input[type=radio], input[type=checkbox] { cursor: pointer; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { outline: none; border: 0; padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { height: auto; }

input[type=search] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

optgroup { font-weight: 700; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

html { -webkit-tap-highlight-color: transparent; }

body { background: #fff; color: #fff; font-family: "Microsoft YaHei"; }

body, input, textarea, select, button, samp { font-family: "Microsoft YaHei"; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-font-feature-settings: "liga", "kern"; }

.wimg { width: 100%; display: block; }

.block { display: block !important; }

.dis_n { display: none !important; }

.dis_0 { display: none !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.text-left { text-align: left !important; }

.text-justify { text-align: justify; text-justify: inter-ideograph; }

.clearfix::after, clearfix:after, clearfix after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; }

@media (min-width: 240px) { html { font-size: 40px; } }
@media (min-width: 320px) { html { font-size: 40px; } }
@media (min-width: 360px) { html { font-size: 40px; } }
@media (min-width: 375px) { html { font-size: 40px; } }
@media (min-width: 412px) { html { font-size: 40px; } }
@media (min-width: 480px) { html { font-size: 40px; } }
@media (min-width: 540px) { html { font-size: 40px; } }
@media (min-width: 640px) { html { font-size: 40px; } }
@media (min-width: 720px) { html { font-size: 38.4px; } }
@media (min-width: 768px) { html { font-size: 40.96px; } }
@media (min-width: 1024px) { html { font-size: 54.6133333333px; } }
@media (min-width: 1200px) { html { font-size: 64px; } }
.wbox { width: 100%; max-width: 1200px; margin: 0 auto; padding: 0 10px; position: relative; }

.headerWrap { width: 100%; position: absolute; left: 0; top: 0; z-index: 6; }

.topbox { width: 100%; position: relative; z-index: 5; padding: 10px 0; }

[name="home"] { position: fixed; background: rgba(0, 0, 0, 0.93); }

.lanBox { position: relative; float: right; z-index: 4; color: #fff; text-align: left; width: 200px; line-height: 26px; height: 26px; cursor: pointer; margin-left: 20px; font-size: 14px; }
.lanBox img { width: 20px; height: 16px; display: block; }
.lanBox a { display: inline-block; padding-right: 5px; color: #fff; font-weight: bold; }
.lanBox i { width: 20px; height: 16px; display: block; }
.lanBox p { position: absolute; right: 0; top: 0; background: rgba(97, 137, 182, 0.5); -webkit-border-radius: 26px; -ms-border-radius: 26px; -o-border-radius: 26px; -moz-border-radius: 26px; border-radius: 26px; padding: 0 20px 0 30px; width: 150px; height: 26px; font-size: 13px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; }
.lanBox p span { padding-left: 15px; }
@media screen and (max-width: 800px) { .lanBox { padding-bottom: 10px; } }
.lanBox .lanlist { position: absolute; background: rgba(97, 137, 182, 0.5); width: 150px; right: 0; top: 0; -webkit-border-radius: 13px; -ms-border-radius: 13px; -o-border-radius: 13px; -moz-border-radius: 13px; border-radius: 13px; display: none; }
.lanBox .lanlist li { width: 150px; padding: 0 20px 0 30px; line-height: 26px; height: 26px; font-size: 13px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; }
.lanBox .lanlist li span { padding-left: 15px; }

.siteheader { width: 100%; max-width: 1200px; margin: 0 auto; padding: 0 10px; height: 90px; position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; justify-content: flex-start; -webkit-justify-content: flex-start; align-items: center; }

.header_logo { /*position:absolute;left:10px;top:50%;*/ display: inline-block; /*@include vertical(-50%);*/ width: 295px; }

.header_logo img { display: block; width: 100%; max-width: 100%; }

.sitenav { width: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.sitenav a { font-size: 18px; font-weight: bold; line-height: 30px; padding: 0 8px; margin: 0 10px; }
.sitenav a:hover, .sitenav a.aon { color: #67e5d9; }
.sitenav a.active { background: #1a1f26; border: 1px solid #4d4d4d; -webkit-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.homeWrap .topbox { padding: 15px 0 0 0; }
.homeWrap .lanBox { width: 90px; padding-right: 40px; }
.homeWrap .lanBox p { width: 40px; padding: 0 10px; }
.homeWrap .lanBox p span { display: none; }
.homeWrap .lanBox .lanlist { width: 40px; }
.homeWrap .lanBox .lanlist li { width: 40px; padding: 0 10px; }
.homeWrap .lanBox .lanlist span { display: none; }
.homeWrap .siteheader { height: auto; padding: 15px 10px; justify-content: space-between; -webkit-justify-content: space-between; }
@media (max-width: 1024px) { .homeWrap .siteheader { padding-right: 50px; } }
.homeWrap .sitenav a { font-size: 14px; }

.btn-collapse-container { display: none; }

.playerWrap { background: url(../images/bg.png) no-repeat center center #000; background-size: contain; position: relative; z-index: 1; padding-top: 60px; }

@media (max-width: 1024px) { .btn-collapse-container { display: block; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); width: 27px; height: 26px; }
  .btn-collapse-box { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 27px; height: 20px; position: relative; cursor: pointer; }
  .btn-collapse { display: block; position: relative; top: 50%; margin-top: 1px; background-color: #fff; width: 27px; height: 3px; -webkit-transition-duration: .3s; transition-duration: .3s; -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .btn-collapse:before { content: ""; width: 27px; height: 3px; background-color: #fff; position: absolute; top: -10px; -webkit-transition: top .1s ease-in .34s, opacity .1s ease-in; transition: top .1s ease-in .34s, opacity .1s ease-in; }
  .btn-collapse:after { content: ""; width: 27px; height: 3px; background-color: #fff; position: absolute; bottom: -10px; transition-property: -webkit-transform; -webkit-transition-duration: .15s; transition-duration: .15s; -webkit-transition-timing-function: ease; transition-timing-function: ease; transition: bottom 0.1s ease-in 0.3s, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .btn-collapse--active { background-color: #fff; -webkit-transform: rotate(225deg); -ms-transform: rotate(225deg); transform: rotate(225deg); -webkit-transition-delay: .3s; transition-delay: .3s; -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); width: 27px; height: 3px; }
  .btn-collapse--active:before { background-color: #fff; top: 0; opacity: 0; -webkit-transition: top .1s ease-out .3s, opacity .1s ease-out .3s; transition: top .1s ease-out .3s, opacity .1s ease-out .3s; }
  .btn-collapse--active:after { background-color: #fff; bottom: 0; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); transition: bottom 0.1s ease-out 0.3s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s; }
  .sitenav { position: absolute; left: 0; top: 90px; background: rgba(24, 4, 75, 0.84); display: none; padding: 10px 0; height: 20px; }
  .sitenav a { display: block; text-align: center; font-size: 16px; padding: 5px; margin: 5px 0; line-height: 24px; }
  .sitenav a.aon { font-size: 16px; }
  .sitenav a.active { border: 0; background: none; color: #67e5d9; }
  .site-header-mobile .sitenav { display: block; height: 300px; -webkit-transition: all  0.83s; transition: all  0.83s; } }
@media (max-width: 900px) { .topbox { padding: 10px 0; }
  .siteheader { height: 50px; }
  .header_logo { width: 197px; }
  .sitenav { top: 70px; }
  .playerWrap { padding-top: 60px; } }
@media (max-width: 365px) { .sitenav { top: 55px; } }
.jplayerBox { width: 100%; max-width: 1200px; padding: 40px 20px 0px 20px; padding-bottom: 0.625rem; margin: 0 auto; text-align: center; }
.jplayerBox h1 { font-size: 0.75rem; font-weight: bold; }
.jplayerBox h2 { font-size: 0.4375rem; font-weight: bold; line-height: 0.78125rem; padding-top: 0.3125rem; padding-bottom: 0.3125rem; }
.jplayerBox h3 { font-size: 0.40625rem; font-weight: bold; line-height: 0.46875rem; padding-top: 5px; }
.jplayerBox p { font-size: 0.375rem; font-style: italic; line-height: 0.78125rem; padding: 0 10px; padding-bottom: 0.3125rem; }
.jplayerBox .vplayer { -webkit-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; width: 750px; margin: 0 auto; height: 410px; overflow: hidden; }
@media (max-width: 860px) { .jplayerBox .vplayer { width: 100%; height: 100%; } }
.jplayerBox .voiceMs { padding-top: 20px; padding-bottom: 20px; }
.jplayerBox h4 { font-size: 0.375rem; font-weight: bold; line-height: 26px; padding-top: 5px; text-align: left; padding-left: 10px; }
.jplayerBox .voiceMs p { text-align: left; font-size: 0.3125rem; line-height: 26px; padding-top: 15px; }
@media (max-width: 900px) { .jplayerBox { padding: 30px 8px 20px 8px; }
  .jplayerBox .voiceMs { padding-bottom: 10px; } }

.hboxDocuments { background: url(../images/hbg7.jpg) repeat-x left bottom #fff; }

.Documents { width: 100%; max-width: 1200px; padding: 20px 20px 50px 20px; margin: 0 auto; text-align: center; color: #000; }
.Documents h1 { font-size: 0.75rem; padding-top: 10px; }
.Documents h3 { font-size: 0.375rem; color: #67e5d9; line-height: 0.9375rem; padding-top: 10px; }
.Documents h3 span { display: inline-block; padding: 0 40px; }
.Documents h2 { font-size: 0.5rem; line-height: 0.625rem; padding-top: 0.5rem; }
.Documents p { font-size: 14px; line-height: 24px; font-style: italic; padding: 20px 30px 30px 30px; }
.Documents .docImg img { max-width: 100%; border: 4px solid #67e5d9; -webkit-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 8px #b0afaf; -moz-box-shadow: 0 5px 8px #b0afaf; box-shadow: 0 5px 8px #b0afaf; }
@media (max-width: 460px) { .Documents { padding: 20px 10px; }
  .Documents h3 span { padding: 0 15px; }
  .Documents p { padding: 20px 0px; } }

.hboxProblem { background: url(../images/hbg2.jpg) no-repeat center top; background-size: cover; }

.proimgList { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: stretch; -webkit-box-pack: center; -webkit-justify-content: space-between; -ms-flex-pack: center; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-content: space-between; align-content: stretch; padding: 20px; }
.proimgList .item { margin: 0 10px 10px 10px; width: 318px; background: #8a298a; -webkit-box-shadow: 0 4px 8px #040000; -moz-box-shadow: 0 4px 8px #040000; box-shadow: 0 4px 8px #040000; }
.proimgList .item img { display: block; width: 100%; }
.proimgList p { text-align: center; font-size: 14px; line-height: 24px; font-style: italic; padding: 15px; }

.proimgFlex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: stretch; -webkit-box-pack: center; -webkit-justify-content: space-between; -ms-flex-pack: center; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-content: space-between; align-content: stretch; padding: 20px; }
.proimgFlex .bItem { margin: 0 10px 10px 10px; width: 318px; background: #392d8c; -webkit-box-shadow: 0 4px 8px #040000; -moz-box-shadow: 0 4px 8px #040000; box-shadow: 0 4px 8px #040000; }
.proimgFlex .bItem img { display: block; width: 100%; }
.proimgFlex p { text-align: center; font-size: 12px; line-height: 24px; font-style: italic; padding: 10px; }

.Problem { width: 100%; max-width: 1200px; padding: 40px 20px 40px 20px; margin: 0 auto; text-align: center; }
.Problem h1 { font-size: 0.75rem; padding-top: 10px; padding-bottom: 10px; }
.Problem .proTxt { font-size: 14px; line-height: 24px; font-style: italic; padding: 0 20px 30px 20px; }
@media (max-width: 760px) { .Problem { padding: 20px; } }
@media (max-width: 420px) { .Problem { padding: 10px; } }

.hboxIntroducing { background: url(../images/hbg3.jpg) no-repeat center top; background-size: cover; }

.Introducing { width: 100%; max-width: 1200px; padding: 20px 20px 30px 20px; margin: 0 auto; text-align: center; }
.Introducing h1 { font-size: 0.75rem; padding-top: 10px; padding-bottom: 10px; }
.Introducing .intrTxt { font-size: 14px; line-height: 24px; font-style: italic; padding: 10px 0; }
.Introducing .proimgList { padding-top: 30px; }
@media (max-width: 760px) { .Introducing { padding: 15px; } }

.hboxFeatures { background: #fff; }

.feaBox { width: 100%; padding-bottom: 40px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: stretch; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-content: center; }
.feaBox .feItem { margin: 30px 25px 0 30px; padding: 10px 5px; width: 234px; -webkit-box-shadow: 0 0 6px #e8e8e8; -moz-box-shadow: 0 0 6px #e8e8e8; box-shadow: 0 0 6px #e8e8e8; }
.feaBox i { text-align: center; display: block; width: 100%; }
.feaBox i img { max-width: 100%; }
.feaBox b { display: block; text-align: center; font-size: 0.375rem; font-style: italic; white-space: nowrap; padding-top: 10px; }
.feaBox span { display: block; text-align: center; font-size: 14px; font-style: italic; }

.Features { width: 100%; max-width: 1200px; padding: 40px 20px 0 20px; margin: 0 auto; color: #000; }
.Features h1 { text-align: center; font-size: 0.75rem; line-height: 0.75rem; padding-top: 10px; padding-bottom: 10px; }
.Features .feTxt { font-size: 14px; line-height: 24px; font-style: italic; padding: 10px 50px; text-align: center; }
@media (max-width: 860px) { .Features { padding: 20px 10px; }
  .Features .feTxt { padding: 10px 20px; } }

.hboxWorks { background: #d8d8d8; }

.twoList { display: inline-block; width: 100%; }
.twoList li { float: left; width: 50%; padding: 1% 2% 0 2%; }
.twoList span { display: block; background: #fff; -webkit-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 8px; -webkit-box-shadow: 0 0 8px #8d8d8d; -moz-box-shadow: 0 0 8px #8d8d8d; box-shadow: 0 0 8px #8d8d8d; }
.twoList img { display: block; width: 100%; }
.twoList b { display: block; text-align: center; font-size: 0.375rem; padding-top: 15px; }

.Works { width: 100%; max-width: 1200px; padding: 20px 10px  10px 10px; margin: 0 auto; color: #000; }
.Works h1 { text-align: center; font-size: 0.75rem; line-height: 0.75rem; padding-top: 10px; padding-bottom: 15px; }
@media (max-width: 660px) { .Works { padding: 10px 10px 0  10px; } }

.hboxApplication { background: #fff; }

.Application { width: 100%; max-width: 1200px; padding: 30px 30px  40px 30px; margin: 0 auto; color: #000; position: relative; }
.Application h1 { text-align: center; font-size: 0.75rem; line-height: 0.90625rem; padding-top: 10px; padding-bottom: 25px; }
.Application .swiper-button-prev { width: 54px; height: 54px; background: url(../images/left_icon.png) no-repeat left top; background-size: cover; left: 0px; top: 55%; }
.Application .swiper-button-next { width: 54px; height: 54px; background: url(../images/right_icon.png) no-repeat left top; background-size: cover; right: 0px; top: 55%; }
@media (max-width: 660px) { .Application { padding: 10px 10px 20px 10px; }
  .Application h1 { padding-bottom: 0px; }
  .Application .swiper-button-prev { width: 34px; height: 34px; }
  .Application .swiper-button-next { width: 34px; height: 34px; } }

.slideItem { padding: 0 10px; }
.slideItem i { display: block; text-align: center; }
.slideItem h3 { font-size: 18px; line-height: 24px; }
.slideItem p { font-size: 14px; color: #505050; line-height: 22px; padding-top: 10px; word-wrap: break-word; word-break: break-all; }

.hboxRoadmap { background: #000; }

.Roadmap { width: 100%; max-width: 1200px; padding: 30px 30px  40px 30px; margin: 0 auto; position: relative; }
.Roadmap h1 { text-align: center; font-size: 0.75rem; line-height: 0.90625rem; padding-top: 10px; padding-bottom: 25px; }
.Roadmap .mapImg { padding-top: 10px; }
.Roadmap .mapImg img { display: block; max-width: 100%; }
@media (max-width: 660px) { .Roadmap { padding: 20px 10px; } }

.hboxToken { background: #191919; }

.tokenList { display: inline-block; width: 100%; }
.tokenList li { float: left; width: 50%; }
.tokenList li i { display: block; text-align: center; }
.tokenList li img { max-width: 100%; }
.tokenList li b { display: block; font-size: 0.40625rem; text-align: center; padding-top: 20px; }

.Token { width: 100%; max-width: 1200px; padding: 20px 10px; margin: 0 auto; position: relative; }
.Token h1 { text-align: center; font-size: 0.75rem; line-height: 0.90625rem; padding-top: 10px; padding-bottom: 25px; }
@media (max-width: 560px) { .Token { padding: 10px 5px; } }

.hboxFaq { background: #f4f4f4; }

.Faq { width: 100%; max-width: 1200px; padding: 20px 10px; margin: 0 auto; position: relative; }
.Faq h1 { text-align: center; color: #000; font-size: 0.75rem; line-height: 0.90625rem; padding-top: 10px; padding-bottom: 20px; }
.Faq .faqTxt { font-size: 14px; line-height: 24px; text-align: center; padding: 0 30px; color: #494949; }
.Faq h2 { text-align: center; color: #494949; font-size: 0.75rem; line-height: 0.90625rem; padding-top: 30px; padding-bottom: 20px; }
.Faq .faqOp { text-align: center; padding: 20px 0; }
.Faq .vbtn { width: 100%; text-align: center; max-width: 340px; display: inline-block; white-space: nowrap; font-weight: bold; background: #fff; border: 1px solid #162358; -webkit-border-radius: 48px; -ms-border-radius: 48px; -o-border-radius: 48px; -moz-border-radius: 48px; border-radius: 48px; color: #162358; font-size: 25px; line-height: 88px; height: 88px; }
.Faq .vbtn:hover { background: #162358; color: #fff; }

.fimgbox { margin: 0 auto; max-width: 1120px; width: 100%; background: #002b36; height: 500px; overflow: hidden; overflow-y: auto; }

.fimgbox img { max-width: 100%; border: 4px solid #67e5d9; -webkit-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.hboxTeam { background: #fff; }

.graybg { background: #eee; }

.Team { width: 100%; max-width: 1200px; padding: 30px 10px 0 10px; margin: 0 auto; position: relative; color: #000; }
.Team h1 { text-align: center; font-size: 0.75rem; line-height: 0.90625rem; padding-top: 10px; padding-bottom: 0; }
@media (max-width: 640px) { .Team { padding: 10px 5px; }
  .Team h1 { padding-top: 5px; } }

.teamList { width: 100%; padding: 30px 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: stretch; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-content: center; }
.teamList .tItem { width: 290px; text-align: center; padding: 10px 10px; line-height: 30px; }
.teamList b { display: block; text-align: left; font-size: 23px; padding-top: 30px; }
.teamList span { display: block; text-align: left; color: #5b5b5b; font-size: 20px; }
.teamList p { font-size: 15px; padding-top: 10px; color: #5b5b5b; line-height: 24px; word-break: break-word; word-wrap: break-word; text-align: left; }
.teamList .pic { display: inline-block; text-align: center; }
.teamList .pic img { max-width: 100%; -webkit-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
.teamList .vpic { display: inline-block; position: relative; }
.teamList .vpic img { max-width: 100%; }
.teamList .vpic i { display: block; width: 100%; height: 100%; background: url(../images/inbg.png) no-repeat left top; background-size: cover; position: absolute; left: 0; top: 0; }
.teamList strong { display: block; text-align: left; padding-top: 10px; }
.teamList strong a { display: inline-block; width: 24px; height: 24px; font-size: 0; line-height: 0; margin-right: 10px; filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: url(desaturate.svg#grayscale); filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); -webkit-filter: grayscale(1); }
.teamList strong a:hover { filter: grayscale(0%); -webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); -ms-filter: grayscale(0%); -o-filter: grayscale(0%); filter: url(desaturate.svg#grayscale); filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0); -webkit-filter: grayscale(0); }
.teamList .lf_icon { background: url(../images/licon1.png) no-repeat left top; background-size: cover; }
.teamList .lin_icon { background: url(../images/licon2.png) no-repeat left top; background-size: cover; }
.teamList .lb_icon { background: url(../images/licon3.png) no-repeat left top; background-size: cover; }

.f_icon { display: inline-block; width: 35px; height: 35px; background: url(../images/f_icon.png) no-repeat left top; background-size: cover; }

.in_icon { display: inline-block; width: 35px; height: 35px; background: url(../images/in_icon.png) no-repeat left top; background-size: cover; }

.c_icon { display: inline-block; width: 35px; height: 35px; background: url(../images/c_icon.png) no-repeat left top; background-size: cover; }

@media (max-width: 450px) { .f_icon { width: 24px; height: 24px; }
  .in_icon { width: 24px; height: 24px; }
  .c_icon { width: 24px; height: 24px; } }
.supbg { background: #00e27c; }

.pressbg { background: #00c56c; }

.pressList { width: 100%; padding: 20px 0 40px 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: stretch; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; justify-content: center; }
.pressList li { width: 390px; padding: 20px; line-height: 20px; }
.pressList li.preLi { width: 235px; padding: 20px; }
.pressList h3 { color: #002f1a; padding-top: 10px; font-size: 16px; line-height: 24px; font-style: italic; }
.pressList h3 span { display: inline-block; padding-left: 15px; }
.pressList img { max-width: 100%; }
.pressList p { color: #00502c; font-style: italic; font-size: 16px; line-height: 24px; padding-top: 10px; word-break: break-all; word-wrap: break-word; }
.pressList li.preLi p { font-size: 14px; }

.hboxFrequently { background: #fff; }

.Frequently { width: 100%; max-width: 1044px; padding: 30px 10px; margin: 0 auto; position: relative; color: #414141; }
.Frequently h1 { text-align: center; color: #000; font-size: 0.75rem; line-height: 0.90625rem; padding-top: 10px; padding-bottom: 0; }
.Frequently .aqWrap { padding-top: 30px; }
.Frequently h2 { font-size: 24px; line-height: 30px; padding: 10px 0 5px 0; }
.Frequently h3 { position: relative; font-size: 20px; color: #414141; font-weight: normal; padding: 8px 35px 8px 10px; line-height: 30px; border-bottom: 1px solid #414141; cursor: pointer; }
.Frequently h3.open_h { background: #a0a0a0; border-bottom: 1px solid #a0a0a0; }
.Frequently .close_icon { display: block; width: 15px; height: 15px; position: absolute; right: 10px; top: 16px; background: url(../images/close_icon.png) no-repeat left top; background-size: cover; transition: all 0.3s; -webkit-transition: all 0.3s; -ms-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; }
.Frequently .qes { display: none; background: #a0a0a0; font-size: 15px; line-height: 24px; padding: 0 10px 10px 10px; }
.Frequently .freTxt { font-size: 18px; line-height: 24px; font-style: italic; padding-top: 40px; }
.Frequently .open_icon { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); transition: all 0.3s; -webkit-transition: all 0.3s; -ms-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; }

.hboxJoin { background: #fff; position: relative; }

.Join { width: 100%; max-width: 1044px; padding: 30px 10px; margin: 0 auto; position: relative; color: #bbb; }
.Join h1 { text-align: center; font-size: 0.5625rem; line-height: 0.75rem; padding-top: 10px; padding-bottom: 20px; }
@media (max-width: 590px) { .Join { padding: 10px 5px; }
  .Join .linkBox { width: 100%; padding-top: 5px; }
  .Join .linkBox a { margin: 0 2%; } }

.linkBox { padding-top: 20px; padding-bottom: 30px; width: 90%; margin: 0 auto; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: end; align-items: center; -webkit-box-pack: center; -webkit-justify-content: space-between; -ms-flex-pack: center; justify-content: space-between; }
.linkBox img { width: 100%; max-width: 100%; }
.linkBox a { margin: 0 1px; }
.linkBox a span { display: block; }
.linkBox a b { display: none; }
.linkBox a:hover b { display: block; }
.linkBox a:hover span { display: none; }

.bottomBg { background: #19044a; -webkit-box-shadow: 0 -4px 8px #acacac; -moz-box-shadow: 0 -4px 8px #acacac; box-shadow: 0 -4px 8px #acacac; position: relative; z-index: 2; }

.ft { width: 100%; }
.ft img { width: 100%; }

.footerBg { position: relative; z-index: 2; margin-top: -70px; background: url(../images/btBg.png) no-repeat center top; background-size: contain; }
@media (max-width: 590px) { .footerBg { margin-top: -10px; } }

.ftbg { background: url(../images/btBg03.png) repeat-y center top; background-size: contain; }
.ftbg .footer { padding-top: 10px; }
@media (max-width: 590px) { .ftbg .footer { padding-top: 0; } }

.footer { width: 100%; max-width: 1200px; margin: 0 auto; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 40px 0 20px 0; }
.footer span { color: #428a94; font-size: 18px; line-height: 24px; display: block; padding-bottom: 12px; }
.footer a { color: #428a94; }
.footer a:hover { color: #fff; }
.footer h1 { font-size: 20px; color: #a8a4b4; line-height: 30px; padding-bottom: 20px; }
.footer h1 a { color: #a8a4b4; }
.footer p { margin: 0; color: #428a94; font-size: 18px; line-height: 30px; max-width: 400px; padding-bottom: 10px; }
.footer .navItem { padding: 0 1% 5px 2%; }
.footer .donate_btn { overflow: hidden; display: inline-block; font-size: 21px; font-weight: bold; color: #021c65; background: #f7d730; border: 2px solid #f7d730; -webkit-border-radius: 26px; -ms-border-radius: 26px; -o-border-radius: 26px; -moz-border-radius: 26px; border-radius: 26px; height: 52px; line-height: 46px; padding: 0 20px; }
.footer .donate_btn:hover { background: none; color: #f7d730; }
@media (max-width: 640px) { .footer { padding: 20px 0 10px 0; } }
@media (max-width: 420px) { .footer .donate_btn { font-size: 18px; letter-spacing: -1px; } }

.copyright { background: #2d2d2d; color: #929292; text-align: center; font-size: 14px; line-height: 18px; padding: 16px 5px; position: relative; z-index: 3; }

.downBg .topbox { background: #2d2d2d; }

.downBg .header { background: url(../images/headerBg.png) no-repeat center top; background-size: cover; }

.downBg { position: relative; }
.downBg .sitenav { -webkit-justify-content: flex-end; justify-content: flex-end; }
@media (max-width: 900px) { .downBg .sitenav { top: 50px; } }

.downWrap { background: url(../images/bg.png) no-repeat center center #000; background-size: cover; position: relative; z-index: 1; }

.demoBox { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: flex-start; -ms-flex-pack: justify; justify-content: flex-start; position: relative; padding-right: 220px; }
.demoBox .demoBtn { background: #5d45c7; border: 2px solid #5d45c7; font-weight: bold; font-size: 16px; -webkit-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; height: 40px; line-height: 36px; padding: 0 10px; display: inline-block; }
.demoBox .demoBtn:hover { background: none; color: #8d73fd; border: 2px solid #5d45c7; }
.demoBox .buyBtn { margin-left: 5px; margin-right: 20px; color: #5d45c7; border: 2px solid #5d45c7; white-space: nowrap; font-weight: bold; font-size: 14px; -webkit-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; height: 40px; line-height: 36px; padding: 0 10px; display: inline-block; }
.demoBox .buyBtn:hover { border: 2px solid #8d73fd; background: #8d73fd; color: #423095; }
.demoBox .demoTips { color: #c0c0c0; font-size: 12px; line-height: 14px; }
.demoBox .lanBox { float: none; position: absolute; right: 0px; top: 3px; }
@media (max-width: 900px) { .demoBox { display: block; padding-right: 0; }
  .demoBox a { overflow: hidden; } }
@media (max-width: 500px) { .demoBox .lanBox { position: relative; float: right; } }

.downBox { width: 100%; max-width: 1200px; padding: 30px 10px 30px 10px; margin: 0 auto; position: relative; }
.downBox h1 { text-align: center; font-size: 0.75rem; line-height: 0.90625rem; padding-top: 10px; padding-bottom: 0; }
.downBox .dTxt { padding: 20px 40px; font-size: 16px; line-height: 36px; font-weight: bold; }
@media (max-width: 960px) { .downBox h1 { padding-top: 0; padding-bottom: 0; }
  .downBox .dTxt { padding: 5px 20px; line-height: 30px; } }

.downList { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: center; -ms-flex-pack: justify; justify-content: center; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.downList b { display: block; font-size: 0.5rem; color: #67e5d9; text-align: center; padding-bottom: 30px; padding-top: 10px; }
.downList span { display: block; font-size: 0.5rem; color: #67e5d9; text-align: center; padding-bottom: 30px; }
.downList span em { display: none; }
.downList .downItem { padding: 0 2% 10px 2%; }
.downList a { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center; -webkit-justify-content: center; cursor: pointer; white-space: nowrap; font-size: 16px; color: #19044a; text-align: center; overflow: hidden; background: #67e5d9; border: 2px solid #67e5d9; max-width: 210px; margin: 0 auto; -webkit-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; height: 38px; line-height: 34px; padding: 0 8px; }
.downList a i { display: block; width: 24px; height: 24px; line-height: 0; font-size: 0; }
.downList a em { display: none; width: 24px; height: 24px; line-height: 0; font-size: 0; }
.downList a img { width: 24px; height: 24px; }
.downList a label { padding-left: 10px; cursor: pointer; }
.downList a:hover { background: none; border: 2px solid #a1fff6; color: #a1fff6; }
.downList a:hover i { display: none; }
.downList a:hover em { display: block; }
.downList .downItem:hover span i { display: none; }
.downList .downItem:hover span em { display: block; }

.whiteBg { background: #fff; }

.mine { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-box-pack: justify; -ms-flex-pack: justify; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 1024px; margin: 0 auto; padding-bottom: 40px; }
.mine h1 { text-align: left; }
.mine p { color: #4b4b4b; font-size: 24px; line-height: 30px; font-weight: bold; padding-top: 20px; max-width: 580px; padding-bottom: 10px; }
.mine .mineImg { padding-left: 30px; }
.mine img { max-width: 100%; }
@media (max-width: 960px) { .mine { padding: 10px 10px 30px 10px; }
  .mine p { padding-top: 5px; } }
@media (max-width: 560px) { .mine p { font-size: 18px; } }

.blackBg { background: #000; position: relative; z-index: 3; }

.mapBox { width: 100%; margin: 0 auto; max-width: 1200px; padding: 40px 30px; text-align: center; }
.mapBox img { max-width: 100%; }
@media (max-width: 560px) { .mapBox { padding: 20px 10px; } }

.hboxDomains { background: url(../images/bg.png) no-repeat center center #000; background-size: contain; }

.Domains { width: 100%; margin: 0 auto; max-width: 1200px; padding: 40px 20px 40px 20px; }
.Domains h1 { font-size: 0.75rem; line-height: 0.90625rem; padding-top: 10px; padding-bottom: 30px; }
.Domains h2 { text-align: center; font-size: 0.75rem; line-height: 0.90625rem; padding-top: 10px; padding-bottom: 30px; }
.Domains h4 { font-size: 22px; line-height: 36px; padding-bottom: 20px; }
.Domains p { font-size: 16px; line-height: 24px; font-weight: bold; padding-bottom: 20px; }
.Domains img { max-width: 100%; }
.Domains .domImg { text-align: center; }
@media (max-width: 700px) { .Domains .dom_3 .domImg { width: 160px; }
  .Domains .dom_2 .domImg { width: 140px; } }

.domainsTxt { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-box-pack: justify; -ms-flex-pack: justify; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; padding-bottom: 20px; }

.dom_1 { margin: 0 auto; max-width: 1026px; }
.dom_1 h4 { font-style: italic; }

.doMs { padding-bottom: 20px; }

.dom_2 .domTips { max-width: 690px; }

.dom_2 .domImg { padding-left: 30px; }

.dom_3 .domTips { max-width: 650px; }

.dom_3 .domImg { padding-left: 50px; }

.dom_2 { justify-content: flex-start; -webkit-justify-content: flex-start; }

.whyBox { width: 100%; margin: 0 auto; max-width: 1200px; padding: 30px 20px 20px 20px; color: #000; }
.whyBox h1 { text-align: center; font-size: 0.75rem; line-height: 0.90625rem; padding-top: 10px; padding-bottom: 40px; }
@media (max-width: 700px) { .whyBox { padding: 0px 10px; } }

.doBox { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-box-pack: justify; -ms-flex-pack: justify; align-items: flex-start; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.doBox .doItem { width: 370px; padding: 0 32px 30px 32px; }
.doBox .doItem span { display: block; width: 305px; padding-bottom: 20px; }
.doBox .doItem img { display: block; width: 305px; height: 177px; }
.doBox .doItem h2 { font-size: 24px; line-height: 24px; height: 52px; overflow: hidden; padding: 0 3px; }
.doBox .doItem p { font-size: 20px; line-height: 24px; color: #474747; padding: 5px 3px 0 3px; }

.blueBg { background: #00133c; }

.dnsBox { width: 100%; margin: 0 auto; max-width: 1200px; padding: 20px 20px 20px 20px; }
.dnsBox h1 { text-align: center; font-size: 0.65625rem; line-height: 0.90625rem; padding-top: 10px; padding-bottom: 30px; }
.dnsBox .dnsItem { padding: 0 22px 10px 22px; }
.dnsBox .dnsItem p { font-weight: bold; font-size: 24px; line-height: 24px; padding: 20px 3px; }
@media (max-width: 600px) { .dnsBox .dnsItem p { font-size: 18px; } }

.diffBg { background: #e3e3e3; }

.topWrap { width: 100%; position: absolute; left: 0; top: 0; z-index: 2; background: rgba(0, 0, 0, 0.2); }
.topWrap .header_logo { width: 474px; }
@media (max-width: 900px) { .topWrap .header_logo { width: 40%; } }
@media (max-width: 600px) { .topWrap .header_logo { width: 70%; }
  .topWrap .btn-collapse-container { transform: scale(0.8); top: 50%; margin-top: -10px; } }

.topWrap .sitenav { -webkit-justify-content: flex-end; justify-content: flex-end; }
.topWrap .sitenav a { font-size: 24px; font-weight: normal; margin: 0 20px; color: #67e5d9; line-height: 40px; }
.topWrap .sitenav a:hover { color: #7aa6a2; }
.topWrap .sitenav a.aon { color: #7aa6a2; font-weight: bold; }

.whatWrap { background: url(../images/bg.png) no-repeat center center #000; background-size: cover; position: relative; z-index: 1; }

.whatBox { width: 100%; margin: 0 auto; max-width: 1200px; padding: 120px 30px 50px 30px; }
@media (max-width: 900px) { .whatBox { padding-top: 60px; }
  .whatBox h1 { padding-bottom: 15px; } }

.whatTxt { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-box-pack: justify; -ms-flex-pack: justify; align-items: flex-start; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.whatTxt h1 { font-size: 0.625rem; line-height: 0.90625rem; padding-bottom: 30px; }
.whatTxt p { font-size: 14px; line-height: 30px; font-weight: bold; padding-bottom: 20px; }
.whatTxt .whatImg img { border: 4px solid #67e5d9; -webkit-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 0 10px #060912; -moz-box-shadow: 0 0 10px #060912; box-shadow: 0 0 10px #060912; max-width: 100%; }
.whatTxt .wtips { max-width: 770px; }

.OurBox { width: 100%; margin: 0 auto; max-width: 1200px; padding: 10px 10px; color: #000; }
.OurBox h1 { font-size: 0.4375rem; line-height: 0.90625rem; padding-bottom: 10px; padding-left: 10px; }
.OurBox h2 { font-size: 20px; text-align: center; padding-top: 10px; }

.ourItem { padding: 0 30px 30px 30px; }
.ourItem img { width: 230px; height: 133px; display: block; }
@media (max-width: 900px) { .ourItem { padding: 0 20px 12px 12px; } }

.moTxt h1 { font-size: 0.65625rem; line-height: 0.90625rem; padding-bottom: 15px; }
.moTxt p { font-size: 16px; line-height: 30px; font-weight: bold; padding-bottom: 20px; }

.moBox { width: 100%; margin: 0 auto; max-width: 1200px; padding: 30px 10px; color: #000; }
.moBox h1 { font-size: 28px; padding-bottom: 10px; }
.moBox p { font-size: 16px; line-height: 24px; color: #494949; font-weight: bold; padding-bottom: 20px; padding-right: 10px; }
.moBox .Ming img { max-width: 100%; }

.mtBox { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: flex-start; justify-content: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; align-items: flex-start; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.mtBox .Ms { width: 60%; }
.mtBox .Ming { padding-left: 3%; margin-top: -30px; }
@media (max-width: 900px) { .mtBox .Ms, .mtBox .Ming { width: 100%; padding-left: 0; margin-top: 0; } }

.Foundation { width: 100%; margin: 0 auto; max-width: 1200px; padding: 20px 10px; color: #000; }
.Foundation h1 { font-size: 28px; line-height: 48px; padding-bottom: 10px; }

.teamItem { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-box-pack: justify; -ms-flex-pack: justify; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; border-bottom: 1px solid #ccc; padding-bottom: 15px; margin-bottom: 45px; }
.teamItem h2 { color: #00675d; font-weight: normal; font-size: 0.625rem; line-height: 0.90625rem; padding-bottom: 10px; }
.teamItem h3 { color: #000; font-size: 28px; padding-bottom: 10px; }
.teamItem p { color: #333; font-size: 16px; line-height: 36px; }
.teamItem h4 { margin: 0; padding: 0; overflow: hidden; line-height: 30px; padding-top: 15px; font-size: 0; }
.teamItem h4 a { margin-right: 10px; opacity: 1; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; transition: all 0.5s; -webkit-transition: all 0.5s; }
.teamItem h4 a:hover { opacity: 0.76; filter: alpha(opacity=76); -moz-opacity: 0.76; -khtml-opacity: 0.76; transition: all 0.5s; -webkit-transition: all 0.5s; }
.teamItem .tImg img { max-width: 100%; }
.teamItem .teamMs { width: 65%; }
.teamItem .tImg { width: 28%; }
@media (max-width: 700px) { .teamItem { margin-bottom: 20px; }
  .teamItem .teamMs { width: 100%; }
  .teamItem .tImg { width: 100%; } }

.teamItem:last-child { border-bottom: 0; }

.voBg { background: #d7d7d7; }

.wBox { width: 100%; margin: 0 auto; max-width: 1060px; padding: 30px 10px 10px 10px; color: #000; }
.wBox h1 { font-size: 24px; line-height: 30px; padding-bottom: 10px; }

.ownItem { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-box-pack: justify; -ms-flex-pack: justify; align-items: flex-start; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 0 15px; }
.ownItem h3 { font-size: 20px; font-weight: normal; font-style: italic; line-height: 30px; position: relative; }
.ownItem h3 span { display: inline-block; position: absolute; left: -18px; top: 0; }
.ownItem p { font-size: 20px; font-weight: normal; font-style: italic; line-height: 26px; padding: 10px 0; }
.ownItem h4 { font-size: 20px; font-weight: normal; font-style: italic; line-height: 26px; padding: 20px 0; }
.ownItem h4 a { color: #38948b; text-decoration: underline; }
.ownItem h4 a:hover { color: #195751; }
.ownItem .ownImg { padding-bottom: 20px; width: 48%; }
.ownItem .ownImg span { display: block; text-align: center; font-size: 20px; font-weight: normal; font-style: italic; line-height: 26px; padding-top: 10px; }
.ownItem .ownImg label { color: #439c94; display: block; text-align: center; font-size: 20px; font-weight: normal; font-style: italic; line-height: 26px; padding-top: 10px; }
.ownItem .ownMs { width: 49%; }
.ownItem .ownImg img { max-width: 100%; -webkit-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
@media (max-width: 800px) { .ownItem .ownMs { width: 100%; }
  .ownItem .ownImg { width: auto; } }

.topIcon { position: fixed; right: 10px; bottom: 10px; -webkit-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; width: 34px; height: 34px; background: url(../images/topIcon.png) no-repeat left top; background-size: cover; z-index: 10; cursor: pointer; }

.voicebg { background: url(../images/hbg6.jpg) repeat left top; width: 100%; position: relative; z-index: 4; }

.downV { text-align: center; padding: 40px 20px; }
.downV p { line-height: 30px; padding-top: 10px; }
.downV p a { color: #fcd82b; text-decoration: underline; font-weight: bold; font-size: 26px; }
.downV a:hover { color: #fff; }

.down_alink { display: inline-block; color: #fcd82b; border: 3px solid #fcd82b; -webkit-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 20px 10px; width: 100%; max-width: 760px; }

.down_alink b { display: block; font-size: 0.84375rem; line-height: 0.84375rem; padding-bottom: 5px; }

.down_alink span { display: block; font-size: 20px; line-height: 24px; font-weight: bold; }

.down_alink:hover { border: 3px solid #fff; }

/*# sourceMappingURL=default_global.css.map */
